spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/job_application_db
    username: nikolas
    password: ""
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    repair-on-migrate: true

# Added to see the exact error in the curl response
server:
  error:
    include-message: always
    include-stacktrace: never

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

app:
  jwt:
    secret: ${APP_JWT_SECRET:EstaClaveEsSuperSecretaYTieneMasDeSesentaYCuatroCaracteresParaHS512SeguridadTotal}
    expiration: 86400

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG